{% extends 'parent.html' %}
{% block tit %}trainee _ ADD{% endblock %}
{% block header %}trainee _ Header{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="trainee_name">trainee name</label>
        <input type="text" name="trainee_name">
        <label for="email">trainee email</label>
        <input type="text" name="email">
    </br>
    <select name="course">
        {% for cou in courses %}<option value="{{ cou.id }}">{{ cou.name }}</option>{% endfor %}
    </select>
</br>
<input type="submit" value="add">
</form>
{% endblock %}
