{% extends 'parent.html' %}
{% block tit %}trainee _ update{% endblock %}
{% block header %}trainee _ Header{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="trainee_name">trainee name</label>
        <input type="text"
               name="trainee_name"
               value="{{ traineedata.trainee_name }}">
        <label for="email">trainee email</label>
        <input type="text" name="email" value="{{ traineedata.email }}">
    </br>
    <select name="course">
        {% for cat in courses %}
            <option value="{{ cat.id }}"
                    {% if cat.id == taskdata.catagoryid.id %}selected{% endif %}>{{ cat.name }}</option>
        {% endfor %}
    </select>
</br>
<input type="submit" value="add">
</form>
{% endblock %}
